@import 'shared/colors'

#outside-block
  margin-top: 15px
  background: $dark-grey

#outer-block
  padding-top: 5px
  width: 90%
  min-width: 750px
  height: 100%
  margin-top: 15px
  margin: 0 auto
  background: $dark-grey
  
  #header-block
    padding-left: 10px
    padding-right: 10px    

  #login-block
    font-size: 12px
    color: $white
    font-family: Helvetica, Arial, sans-serif
    display: block
    float: right
    margin: auto
    padding-top: 10px
    padding-right: 10px    

  #navigation-block
    padding:
      top: 10px
    padding-bottom: 25px

  #sidebar-block
    float: right
    width: 25%
    background: $white

  #main-content-block
    margin-bottom: 20px
    min-height: 400px
    padding-left: 10px
    padding-right: 10px    

  #footer-outer-block
    background: $slate-grey
    margin: 10 0 10 0
  
    #footer-inner-block
      padding: 
        top: 10px
      