%header.page-top
  Update My Information
  
- if flash[:notice]
  %status.flash-message
    = flash[:notice] 
  %br  
%br

.user
= form_for @user do |f|

  = render :partial => "form", :object => f

  %br
  = f.submit  
%br        
       
