@import "colors"

h2
  font-family: Helvetica, Arial, sans-serif
  color: $deep-pink
  
body
  font-family: Helvetica, Arial, sans-serif
  font-size: 12px
  color: $white
  background: $slate-grey
  margin: 0 0

  a 
    text-decoration: underline
    color: $white
  a:hover
    text-decoration: underline
    color: $blue 

  #login-block
    font-size: 12px
    color: $white
    font-family: Helvetica, Arial, sans-serif
    display: block
    float: right
    margin: auto

  .gallery-top
    font-weight: bold
    font-size: 36px
    font-family: Helvetica, Arial, sans-serif
    display: block
    margin: auto
    color: $white

  .page-top
    font-weight: bold
    font-size: 18px
    font-family: Helvetica, Arial, sans-serif
    display: block
    margin: 20px 0px 0px 0px
    color: $white

  .tabs-top
    font-weight: bold
    font-size: 14px
    font-family: Helvetica, Arial, sans-serif
    ul
      margin: 0
      padding: 5px
      float: left
      background-color: $white
      color: $grey
      width: 100%
    li
      display: inline
      padding: 0px
      border: 1px solid $dark-grey

  .flash-message
    font-weight: normal
    font-size: 16px
    padding: 4px
    font-family: Helvetica, Arial, sans-serif
    display: block
    margin: 20px 0px 0px 0px
    color: $white
    background: $green
  
  .thumbs
    border-collapse: separate
    border-spacing: 20px 20px
    border: 1px
    width: 100%
    background: $slate-grey
    height: 100px
    td
      padding: 20px

